.chat__messagebox {
  display: flex;
  max-width: 600px;
  background-color: rgba(0, 0, 255, 0.2);
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  justify-content: space-between;
}

.chat__messageavatar {
  align-self: flex-end;
  justify-self: flex-end;
}
