$background-menu: hsla(210, 100%, 13%, 1);

body {
  overflow: hidden;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background-color: $background-menu;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nz-footer {
  text-align: center;
  background-color: $background-menu;
  color: rgba(255, 255, 255, 0.65);
}

nz-sider {
  background-color: $background-menu;
}

.ant-menu {
  background-color: $background-menu;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
}

.menu__badge {
  color: rgba(255, 255, 255, 0.65);
  padding-right: 15px;
}

.menu__badge:hover {
  color: rgba(255, 255, 255, 0.85);
  padding-right: 15px;
}

.ant-menu-item,
.ant-menu-inline-collapsed {
  padding-top: 10px !important;
}

app-wall {
  width: 100%;
}

.ant-layout-content {
  min-height: calc(100vh - 134px);
}
