<div
  style="
    display: flex;
    align-content: center;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  "
></div>
<app-post-list [posts$]="posts$">
  <div header>
    <button
      style="width: 100%"
      nz-button
      nzType="primary"
      (click)="openDrawer()"
    >
      Open
    </button>
  </div>
</app-post-list>

<nz-drawer
  [nzClosable]="true"
  [nzVisible]="drawerVisible"
  nzPlacement="bottom"
  nzTitle="Basic Drawer"
  (nzOnClose)="closeDrawer()"
>
  <ng-container *nzDrawerContent>
    <div
      style="
        display: flex;
        align-content: center;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
      "
    >
      <form
        style="width: 80%"
        nz-form
        [nzLayout]="'inline'"
        [formGroup]="wallForm"
      >
        <nz-form-item style="width: 100%">
          <nz-form-control>
            <nz-select
              nzAllowClear
              style="width: 100%"
              nzShowSearch
              formControlName="user"
              nzPlaceHolder="Filter posts by Creator"
            >
              <nz-option
                *ngFor="let user of users$ | async"
                nzLabel="{{ user.first_name }} {{ user.last_name }}"
                [nzValue]="user.id"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </form>
      <form
        style="width: 80%"
        nz-form
        [nzLayout]="'inline'"
        [formGroup]="postForm"
        (ngSubmit)="addPost()"
      >
        <nz-form-item style="width: 100%">
          <nz-form-control>
            <textarea
              style="width: 100%; margin-top: 5px"
              rows="4"
              formControlName="postText"
              placeholder="What do You have to say?"
              nz-input
            ></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item style="width: 100%">
          <nz-form-control>
            <button nz-button nzType="primary" style="width: 100%">
              Add Post
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </ng-container>
</nz-drawer>
