<form nz-form [nzLayout]="'inline'" [formGroup]="wallForm">
  <nz-form-item style="width: 100%">
    <nz-form-control>
      <nz-select
        nzAllowClear
        style="width: 100%"
        nzShowSearch
        formControlName="user"
      >
        <nz-option
          *ngFor="let user of users$ | async"
          nzLabel="{{ user.first_name }} {{ user.last_name }}"
          [nzValue]="user.id"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>
<div style="max-height: calc(100vh - 134px); overflow-y: auto">
  <ng-container *ngIf="posts$ | async as posts; else loading">
    <ng-container *ngIf="posts.length; else empty">
      <ng-container *ngFor="let post of posts">
        <app-simple-post [post]="post.post" [user]="post.creator">
        </app-simple-post>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #empty></ng-template>
  <ng-template #loading>
    <div class="flexcenter__container">
      <nz-spin class="nzspin__center" nzSimple nzSize="large"></nz-spin>
    </div>
  </ng-template>
</div>
