/* You can add global styles to this file, and also import other style files */

app-chat {
  width: 100%;
}

app-friends {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: hsla(210, 100%, 75%, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: hsla(210, 100%, 75%, 0.8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: hsla(210, 100%, 75%, 1);
}
